* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26vw;
    height: 20vh;
    margin: 1rem;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.nine {
    height: 92vh;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    width: 2rem;
    font-size: 1.5rem;
}