* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    background-color: white;
    width: 10%;

}

#container > div {

    width: 15vw;
    height: 20vh;
}

.one {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two {
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.six {
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}